cmake-build-debug/

build/

src/.DS_Store
*.DS_Store
*.vpp
*.vpp.*
*.bak_000f

config/models/dask-worker-space/

config/models/cifar_100_local_model.json

config/models/test_1

config/models/cifar_100_model.sqlite

config/models/cifar_100_spike.sqlite

config/models/cifar_100.sqlite

config/models/converted.sqlite

scripts/__pycache__/JSReader.cpython-37.pyc

scripts/.idea/deployment.xml


.idea/dataSources/2d99f724-9a77-4a99-89a5-d755fd3a2906.xml

.idea/dataSources.local.xml

.idea/dataSources.xml

scripts/.idea/dataSources.xml

scripts/.idea/sqldialects.xml

config/models/cifar_100_model.json

config/models/cifar_100_spike.json

config/models/sar_model.json

config/models/sar_spike.json

*.7z

*.mp

config/models/models_mx6p/

config/models/

scripts/.idea/

*.pyc

*.swp

CMakeFiles/cmake.check_cache
