[submodule "external/ROSS"]
	path = external/ROSS
	url = https://github.com/ROSS-org/ROSS.git
[submodule "external/visit_struct"]
	path = external/visit_struct
	url = https://github.com/garbageslam/visit_struct.git
[submodule "external/CODES"]
	path = external/CODES
	url = https://github.com/codes-org/codes.git
[submodule "external/catch2"]
	path = external/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "neuro_os"]
	path = src/libs/neuro_os
	url = https://github.com/markplagge/neuro_os.git
