name: Greetings

on: [pull_request, issues]

jobs:
  greeting:
    runs-on: self-hosted
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: 'Thank you for the issue'
        pr-message: 'Thank you for your Pull Request'
