name: Submodule Bump

on:
  push:
    branches: [ develop test ]
  pull_request:
    branches: [ develop test ]

jobs:
  submodule_bump:
    runs-on: ubuntu-latest
    steps:
      - name: Bump Git Submodules
        uses: domdere/git-submodule-action@0.0.1
        
      
