name: C/C++ CI

on:
  push:
    branches: [ develop test ]
  pull_request:
    branches: [ develop test]

jobs:
  submodule_bump:
    runs-on: ubuntu-latest
    steps:
      - uses: domdere/git-submodule-action@0.0.1  
      - name: Bump Git Submodules
      
